aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 5;   
}

aside.active {
    display: block;
}

aside > figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    max-width: 100%;
    max-height: 100vh;
} 

aside > figure * {
    max-width: 100%;
}

/* =---------------------------- image carousel ---------------------------- */
.ez_image_scroller { display: table; margin: 0 auto; position: relative; width: 100%;}
		.ez_image_scroller * { max-width: 100%; }
		.ez_image_scroller > * { display: none; }
		.ez_image_scroller > .active { display: block; }
		.ez_image_scroller > .infromright { animation: ez_image_scroller_infromright 0.5s forwards; }
		.ez_image_scroller > .infromleft { animation: ez_image_scroller_infromleft 0.5s forwards; }
		.ez_image_scroller > .outtoright { animation: ez_image_scroller_outtoright 0.5s forwards; }
		.ez_image_scroller > .outtoleft { animation: ez_image_scroller_outtoleft 0.5s forwards; }
		.ez_image_scroller > nav { display: block; position:static;}
		.ez_image_scroller > nav button { }
		.ez_image_scroller > nav button:first-of-type {  }
		.ez_image_scroller > nav button:last-of-type {  }
		@keyframes ez_image_scroller_infromright {
			from { opacity: 0; transform: translateX(25%); }
			  to { opacity: 1; transform: translateX(0); }
		}
		@keyframes ez_image_scroller_infromleft {
			from { opacity: 0; transform: translateX(-25%); }
			  to { opacity: 1; transform: translateX(0); }
		}
		@keyframes ez_image_scroller_outtoright {
			from { opacity: 1; transform: translateX(0); }
			  to { opactiy: 0; transform: translateX(25%); }
		}
		@keyframes ez_image_scroller_outtoleft {
			from { opacity: 1; transform: translateX(0); }
			  to { opactiy: 0; transform: translateX(-25%); }
		}

/* ---------------------------------- CONTAINER-------------------------------------------------- */
body {
   background-color:rgb(213, 215, 215);
}
.container {
    display: flex; /* or inline-flex */
    margin-top: 30px;
    margin-left:5%;
    margin-right:5%;
  }

.symbols {
    width:50px;
    float:left;
    margin:10px;
    margin-left:5%;
}

.section-header {
    background-color:white;
}

.section-title-div {
    background-color:white;
    height:75px;
    margin-left:-7%;
    margin-right:-7%;
    display:border-box;
    padding:20px;
}


.section-title {
    margin-bottom:20px;
    margin-left:60px;
    margin-left:10%;
}

.thick-hr {
    width:100%;
    height:8px;
    background-color:black;
    /* margin-top:10px; NOT WORKING*/
}

.thin-hr {
    width:100%;
    height:4px;
    background-color:black;
    /* margin-top:10px; NOT WORKING*/
}

.item-card {
    background-color:white;
    border:2px solid black;
    padding:15px;
    margin:20px;
    width:85%;
    border-radius: 10px;
    margin-left:5%;
}

.info-text {
  margin-right:5px;
    display:inline-block;
    width:38%;
    vertical-align:top;
    padding:10px;
}

.left-side-images {
    display:inline-block;
    width:58%;
    vertical-align:top;
    height:33%;
}

.feature {
    display: inline-block;
    margin-right:0px;
}

.feature p{
    display: inline-block;
   
}

#feature-text {
    position: relative;
    font-family: "impact";
    padding-top:0;
    vertical-align: top;

}

.thumbnail {
    width:75px;
}

.star {
    width:30px;
    display:inline-block;
}

.feature-star {
    width:50px;
}

.star-ranking {
    
}

.currently {
    color: rgb(170, 3, 3);
    margin-left: 20px;
}
   


/* ---------------------------------- NLW -------------------------------------------------- */
#NLW {
    padding-top:60px;
   
}

/* ---------------------------------- TOPNAV -------------------------------------------------- */
#topnav {
    background-color:white;
    border-bottom: 2px solid black;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
}

/* Style the links inside the navigation bar */
#topnav a {
    
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    vertical-align:middle;
    display:inline-block;
}

#topnav a:first-of-type {
    float:left;
}
/* Change the color of links on hover */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
#topnav a.active {
    background-color: black;
    color: white;
}

/* ---------------------------------- INTRO -------------------------------------------------- */
#name-and-position {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
}

#intro-video video {
   /* margin-left:250px; */
   display:block;
   margin:10px auto;
   width:100%;
   max-width: 480px;
}

/* ---------------------------------- BIO-------------------------------------------------- */
#bio {
    padding-top:45px;
    
}
#bio:after {
    content:"";
    display:table;
    clear: both;
}

#self {
    width:250px;
    float:left;
    margin-right:20px;
}

#bio p {
   
}
/* ---------------------------------- SKILLS -------------------------------------------------- */
#skills {
    display:block;
    padding-top: 45px;
}

.left {
    display:inline-block;
    margin-right: 30%;
}
.right {
    display:inline-block;
    vertical-align: top; 
}

/* ---------------------------------- PORTFOLIO -------------------------------------------------- */

.grade-img {
    width:50%;
    margin-top: 20px;
    
}

#portfolio {
    padding-top: 45px;
}

#wireframes {
    /* text-align: center; */
    align-items: center;
    
}
#wireframes img {
    width:100px;
    
}

#wireframes figure {
    width:100px;
    display:inline-block;
    margin:0;
}

#wireframes figure a:last-of-type{
    display:none;
}



/* ---------------------------------- HOMEWORK-------------------------------------------------- */
.hangman-links a {
    color:#7dd36b;
    text-decoration:none;
}

.hangman-links a:hover {
    color:black;
    
}

.skyscraper-links a {
    color:#2c4ea4;
    text-decoration:none;
}

.skyscraper-links a:hover {
    color:#3ea6f1;
}

.van-gogh-links a {
    color: #cf2b0f;
    text-decoration: none;
}

.van-gogh-links a:hover {
    color: #92c190;
}

.nick-links a {
    color: #e09636;
    text-decoration: none;
}

.nick-links a:hover {
    color:black;
}

.clicky-links a {
    color:#54b8f4;
}

.snow-scout-links a {
    color:#445fa2;
    text-decoration: none;
}

.snow-scout-links a:hover {
    color:#9dbee1;
}

.pharma-links a {
    color:#74bedb;
    text-decoration: none;
}

.pharma-links a:hover {
    color:#d0dee7;
}

.mgr-links a {
    color:#b4413a;
    text-decoration:none;
}

.mgr-links a:hover {
    color:#353a3f;
    /* text-decoration:none; */
}


/* ---------------------------------- ACCOMPLISHMENTS-------------------------------------------------- */
#accomplishments {
    padding-top: 45px;
    
}

.tazy-links a {
    color:#5272b0;
    text-decoration:none;
}

.tazy-links a:hover {
    color:#d7864b;
}

.mm-links a {
    color:#9ebcc2;
    text-decoration:none;
}

.mm-links a:hover {
    color:#c52430;
}

.nw-links a {
    color:#282381;
    text-decoration:none;
}

.nw-links a:hover {
    color:#ffdb75;
}

.i-wonder-links a {
    color:#5994b2;
    text-decoration:none;
}

.i-wonder-links a:hover {
    color:#f8e3bd;
}

/* ---------------------------------- CONNECT -------------------------------------------------- */
#connect {
    padding-top: 45px;
}

.connect-left {
    display:inline-block;
    width:45%;
    vertical-align:top;
    margin-left:2%;
    
}


#resume-thumbnail {
    width:200px;
}

#resume-text {

}

.my-accounts-thumbnail {
    display: inline-block;
    width:40px;
    height:40px;
    margin-top:20px;

}

.connect-right {
    margin-right:5px;
      display:inline-block;
      width:45%;
      vertical-align:top;
      padding:10px;
      
  }

  .my-personal-websites{
      display: block;
      width:100%;
  }

  .websites-thumbnail {
      width:100px;
      display: inline-block;
      margin:10px;
  }

  .website-info {
    vertical-align: top;
    /* width:40%; */
    display:inline-block;
    
    width:50%;
}

  .site-card    {
      background-color:white;
      border: 2px solid black;
      display: inline-block;
      width:100%;
      margin-bottom:5px;
      border-radius: 10px;
  }

  /* .site-card div{
    border: 5px;
    display: inline-block;
    width:100%; */




/* ---------------------------------- FOOTER -------------------------------------------------- */
footer {
    border-top: 2px solid black;
    text-align:center;
    /* height: 40px; */
    background-color:white;
    color:black;
}

footer p {
    
    
}

/* ---------------------------------- HAMBURGER MENU-------------------------------------------------- */

nav { position: fixed; top: 10px; right: 0; display:none; }
		nav label { width: 250px; color:black; font-weight: bold; padding: 10px 10px 10px 10px; background-color: rgba(255,255,255,0.75);; border-radius: 10px 0 0 10px; cursor: pointer; }
		nav input { display: none; }
		nav section { background-color: rgba(255,255,255,0.75);; padding: 20px 20px 50px 20px; border-radius: 0 0 0 10px; position: absolute; animation: navout 0.5s forwards; }
		nav:hover section, nav input:checked + section { animation: navin 0.5s forwards; }
		nav section a { color:black; text-decoration: none; display: block; padding: 5px 15px 5px 5px; }
		nav section a:hover { background-color: gold; color: black; }
		@keyframes navin { from {right:-300px;} to {right:0;} }
        @keyframes navout { from {right:0;} to {right:-300px;} }
        
@media screen and (max-width:750px) {
    nav {
        display:block;
    }

    #topnav a:not(:first-of-type) {
        display:none;
    }
}

/* ----------------------------------  image zoom-------------------------------------------------- */
@keyframes grow {
    to { transform: scale(1.25, 1.25); }
}
#wireframes img:hover { z-index: 1; animation: grow 0.25s forwards; }

/* ----------------------------------  item card media querries-------------------------------------------------- */
@media screen and (max-width:1000px){
    .item-card {
        border:2px solid black;
        padding:15px;
        margin:10px;
        width:90%;
    }
    
    .info-text {
      margin-right:0px;
        display:inline-block;
        width:100%;
        vertical-align:top;
        padding:10px;
    }
    
    .left-side-images {
        display:inline-block;
        width:100%;
        vertical-align:top;
    }

    .connect-left {
        width:100%;
    }

    .connect-right {
        width:100%;
    }

    .my-personal-websites{
        width:100%;
    }
}